<!DOCTYPE html>
<html lang="en">

<%- include('../headAdmin') %>

    <body>
        <%- include('../headerAdmin') %>

            <main class="all-productos">
                <h3>Listado de usuarios</h3>
                <div class="list-container">


                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Pass</th>
                            <th></th>
                        </tr>
                        <% users.forEach(user=> {%>
                            <tr>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.password %>
                                </td>

                                <td><a href="/admin/users/edit/<%= user.id %>"><button class="btn-table modi"><i
                                                class="far fa-edit"></i></button></a>
                                    <form action="/admin/users/list-product/<%- user.id %>?_method=DELETE"
                                        method="post">
                                        <button class="btn-table delete"><i class="far fa-trash-alt"></i></button>
                                </td>
                                </form>

                            </tr>
                            <% }); %>
                    </table>

                </div>
            </main>
            <script src="../js/menuAdmin.js"></script>
    </body>

</html>