<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Detalle de producto</title>
</head>

<body class="product-detail">
    <%- include('../partials/header.ejs') %>
        <div class="content">
            <h3>Inicio/<%= product.category.name%>/Sub-categoría/<%= product.name%>
            </h3>
            <section class="detail-top">
                <div class="img-content">
                    <img src="/images/products/<%= product.images %>" alt="">
                </div>
                <div class="sale-detail">
                    <p>
                        <%= product.name%>
                    </p>
                    <p>$ <%= toThousand(product.price)%>
                    </p>
                    <hr>
                    <div class="color-select">
                        COLOR:
                        <input type="radio" name="color" id="color">
                        <label for="color" <%=product.color ? " style=background-color:" + product.color
                            : " style=background-color:black" %>>
                        </label>
                    </div>
                    <div class=" size-selector">
                        <label for="size">TAMAÑO:</label>
                        <select name="size" id="size">
                            <option value="15">S (15 cm de alto)</option>
                            <option value="30">M (30 cm de alto)</option>
                            <option value="45">L (45 cm de alto)</option>
                        </select>
                    </div>
                    <div class="quantity-selector">
                        <label for="quantity">CANTIDAD:</label>
                        <select name="quantity" id="quantity">
                            <% for (let index=1; index <=product.stock; index++) {%>
                                <option value="<%= index %>">
                                    <%= index %>
                                </option>

                                <% } %>
                        </select>
                    </div>
                    <button class="btn">Agregar al carrito</button>
                </div><!-- sale-detail -->

            </section><!-- details-top -->

            <section class="detail-bot">
                <div class="description">
                    <h3>Descripción</h3>
                    <p>
                        UBICACIÓN: <%= description.location %>
                    </p>
                    <p>
                        SUSTRATO: <%= description.substratum %>
                    </p>
                    <p>
                        FLORACIÓN: <%= description.flowering %>
                    </p>
                    <p>
                        OBSERVACIONES: <%= description.description %>
                    </p>
                </div>

                <div class="opinions">
                    <h3>Opiniones</h3>
                    <div class="opinion">
                        <div class="stars">
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star not_painted"></i>
                            <i class="fas fa-star not_painted"></i>
                        </div>
                        <p>
                            <%= opinions ? opinions.content : "Me encantó" %>
                        </p>
                    </div>
                    <div class="opinion">
                        <div class="stars">
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star not_painted"></i>
                        </div>
                        <p>
                            <%= opinions ? opinions.content : "Horrible" %>
                        </p>
                    </div>
                    <div class="opinion">
                        <div class="stars">
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star painted"></i>
                            <i class="fas fa-star not_painted"></i>
                            <i class="fas fa-star not_painted"></i>
                        </div>
                        <p>
                            <%= opinions ? opinions.content : "Lo mejor que compré en la vida" %>
                        </p>
                    </div>
                </div><!-- opinions -->
            </section><!-- details-bot -->
            <!-- related-products -->
        </div>
        <section class="container-products">
            <h2>PRODUCTOS RELACIONADOS</h2>
            <div class="products">
                <% categories.forEach(category=> {%>
                    <% if (category.id===product.id_category) { %>
                        <% category.products.forEach(product=> { %>
                            <a href="/product/detail/<%= product.id %>">
                                <div class="product-related">
                                    <div class="image-product">
                                        <img src="/images/products/<%= product.images %>" alt="">
                                    </div>
                                    <div class="description-product">
                                        <p>
                                            <%= product.name %>
                                        </p>
                                        <p>$<%= toThousand(product.price) %>
                                        </p>
                                        <button class="btn">Comprar</button>
                                    </div>
                                </div>
                            </a>
                            <% }) %>
                                <% } %>
                                    <% });%>
        </section><!-- content -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>