<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Home</title> 
</head>
<body class="home">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/carrousel.ejs') %>

        <!-- Categoria -->
        <section class="conteinerProduct">
            <div class="categoriaMacetas">
                <img src="/images/cat-macetitas.png" alt="Macetas">
                <div class="data">
                    <h2>Macetas</h2>
                    <span>Rusticas,Lisas y Con Anillos</span>
                </div>
            </div>
            <div class="categoriaSemillas">
                <img src="/images/cat-semillas.png" alt="semilla">
                <div class="data1">
                    <h2>Semillas</h2>
                    <span>De diversas plantas y flores</span>
                </div>
            </div>
            <div class="categoriaPlantas">
                <img src="/images/cat-plantas.jpeg" alt="plantas">
                <div class="data2">
                    <h2>Plantas</h2>
                    <span>Interior, Esterior, Florales, Arbustos, Aromaticas y Catus</span>
                </div>
            </div>
        </section>
        <!-- Prductos destacados -->
        </section><!-- details-bot -->
        <section class="container-products">
            <h2>PRODUCTOS RELACIONADOS</h2>
            <div class="products">
                <%  products.forEach(product => {%>
                    <div class="product-related">
                        <div class="image-product">
                            <a href="/productDetail/<%= product.id %>"><img src="images/products/<%= product.images %>" alt=""></a>
                        </div>
                        <div class="description-product">
                            <a href="/productDetail/<%= product.id %> "><p><%= product.name %></p></a>
                            <p>$<%= toThousand(product.price) %></p>
                            <button class="btn">Comprar</button>
                        </div>
                    </div>
                <% });%>
        </section>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/script.ejs') %>
</body>
