<!DOCTYPE html>
<html lang="en">
    <%- include('./headAdmin')  %>
<body class="add-product-admin">
    <%- include('./headerAdmin')  %>
    <main class="main-admin">
        <div class="form-container-add-product">
            <h2>Crear Producto</h2>
            <div class="form-create">
                <form action="/admin/add" method="post" class="form-container" enctype="multipart/form-data">
                
                    <div class="form-contain name-form">
                        <label for="name">Nombre del producto</label>
                        <input type="text" id="name" name="name" value="<%= locals.old && old.name %>">
                        <% if (locals.errors && errors.name) { %>
                            <small class="error-message"> <%= errors.name.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-name"></small>
                    </div>
                    
                    <div class="form-contain descripcion-form">
                        <label for="des">Descripción</label>
                        <textarea name="description" id="des" cols="30" rows="10"><%= locals.old && old.description %></textarea>
                        <p><small id="count">0</small>/300</p>
                        <% if (locals.errors && errors.description) { %>
                            <small class="error-message"> <%= errors.description.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-description"></small>
                    </div>

                    <div class="form-contain descripcion-form">
                        <label for="ubi">Ubicación</label>
                        <input type="text" name="location" id="ubi" value="<%= locals.old && old.location %>">
                        <% if (locals.errors && errors.location) { %>
                            <small class="error-message"> <%= errors.location.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-location"></small>
                    </div>
                    <div class="form-contain descripcion-form">
                        <label for="sus">Sustrato</label>
                        <input type="text" name="substratum" id="sus" >
                        <small class="error-message ds-none" id="message-sustratum"></small>
                    </div>

                    <div class="form-contain descripcion-form">
                        <label for="flo">Floración</label>
                        <input type="text" name="flowering" id="flo" >
                        <small class="error-message ds-none" id="message-flowering"></small>
                    </div>
                    
                    <div class="form-contain img-form">
                        <label for="img">Imagen</label>
                        <input type="file" id="img" accept=".jpg, .png, .jpeg" name="images" multiple >
                        <% if (fileValidator) { %>
                            <small class="error-message"> <%= fileValidator %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-image"></small>
                    </div>
                    
                    <div class="form-contain categ-form">
                        <label for="category">Categoria</label>
                        <select class="select-admin" name="category" id="category">
                            <option value=""></option>
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>" <%= (locals.old && old.category) ==  category.id  ? "selected" : "" %>><%= category.name %></option>
                            <% }) %>
                        </select>
                        
                        
                        <% if (locals.errors && errors.category) { %>
                            <small class="error-message"> <%= errors.category.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-category"></small>
                    </div>
                    
                    <div class="form-contain colo-form">
                        <label for="color">Color</label>
                        <input type="text" id="color" name="color" >
                        <small class="error-message"></small>
                        <small class="error-message ds-none" id="message-color"></small>
                    </div>

                    <div class="form-contain price-form">
                        <label for="price">Precio</label>
                        <input type="number" id="price" name="price" value="<%= locals.old && old.price %>"> 
                        <% if (locals.errors && errors.price) { %>
                            <small class="error-message"> <%= errors.price.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-price"></small>
                    </div>

                    <div class="form-contain price-form">
                        <label for="cant">Cantidad</label>
                        <input type="number" id="cant" name="stock" value="<%= locals.old && old.stock%>"> 
                        <% if (locals.errors && errors.stock) { %>
                            <small class="error-message"> <%= errors.stock.msg %> </small>
                        <% } %>
                        <small class="error-message ds-none" id="message-stock"></small>
                    </div>

                    <div class="btn-admin">
                        <small class="error-message ds-none" id="submitError"></small>
                        <button type="submit">Crear</button>
                    </div>
                </form>               
            </div>
        </div>
        
        
    </main>

    <script src="../js/menuAdmin.js"></script>
    <script src="../js/validationAddProduct.js"></script>
</body>
</html>