<!DOCTYPE html>
<html lang="en">

    <%- include('./headAdmin')  %>
<body>
    <%- include('./headerAdmin')  %>

    <main class="all-productos">
        <h3>Listado de Productos</h3>
        <div class="list-container">
                 
            <!-- <div class="table-product">
                <div class="id-product">
                    <p>ID</p>
                </div>
                <div class="name-product">
                    <p>Nombre</p>
                </div>
                <div class="category-product" >
                    <p>Categoria</p>
                </div>
                <div class="stock-product">
                    <p>Cantidad</p>
                </div>
                <div class="price-product">
                    <p>Precio</p>
                </div>
                <div class="action">
                    <p></p>
                </div>
            </div>
            
            <% productos.forEach(element => {%>
                <div class="table-product">
                    <div class="id-product">
                        <p><%= element.id %></p>
                    </div>
                    <div class="name-product">
                        <p><%= element.nombre %></p>
                    </div>
                    <div class="category-product" >
                        <p><%= element.categoria %></p>
                    </div>
                    <div class="stock-product">
                        <p><%= element.cantidad %></p>
                    </div>
                    <div class="price-product">
                        <p><%= element.precio %></p>
                    </div>
                    <div class="action">
                        <a href="editProduct/<%- element.id %> "><button class="btn-table modi"><i class="far fa-edit"></i></button></a>
                        <form action="/admin/list-product/<%- element.id %>?_method=DELETE " method="post">
                            <button class="btn-table delete"><i class="far fa-trash-alt"></i></button></td>
                        </form>
                    </div>
                </div>
            <% }); %>  -->





            <table>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
                <% productos.forEach(element => {%>
                    <tr>
                        <td><%= element.id %></td>
                        <td><%= element.nombre %></td>
                        <td><%= element.categoria %></td>
                        <td><%= element.cantidad %></td>
                        <td><%= element.precio %></td>
                        <td><a href="editProduct/<%- element.id %> "><button class="btn-table modi"><i class="far fa-edit"></i></button></a>
                            <form action="/admin/list-product/<%- element.id %>?_method=DELETE " method="post">
                                <button class="btn-table delete"><i class="far fa-trash-alt"></i></button></td>
                            </form>
                            
                    </tr>
                <% }); %>     
              </table>

        </div>
    </main>
    <script src="../js/menuAdmin.js"></script>
</body>
</html>