<!DOCTYPE html>
<html lang="en">

    <%- include('./headAdmin')  %>
<body>
    <%- include('./headerAdmin')  %>

    <main class="all-productos">
        <h3>Listado de Productos</h3>
        <div class="list-container">
                 
            
            <table>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
                <% productos.forEach(element => {%>
                    <tr>
                        <td><%= element.id %></td>
                        <td><%= element.nombre %></td>
                        <td><%= element.categoria %></td>
                        <td><%= element.cantidad %></td>
                        <td><%= element.precio %></td>
                        <td><a href="editProduct/<%- element.id %> "><button class="btn-table modi"><i class="far fa-edit"></i></button></a>
                            <form action="/admin/list-product/<%- element.id %>?_method=DELETE " method="post">
                                <button class="btn-table delete"><i class="far fa-trash-alt"></i></button></td>
                            </form>
                            
                    </tr>
                <% }); %>     
              </table>

        </div>
    </main>
    <script src="../js/menuAdmin.js"></script>
</body>
</html>