<!DOCTYPE html>
<html lang="en">
 
<%- include('./headAdmin')  %>


<body class="list-user-admin">
     <div class="image-background">
     </div>
  <%- include('./headerAdmin')  %>
    
        
        
 <main class="list-user">
     
        <h3>Listado de Usuarios</h3>
        <div class="list-container">
                 
            <table>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Permiso de administrador</th>
                  <th></th>
                </tr>
                <% Users.forEach(User => {%>
                    <tr>
        
                        <td><%= User.id %></td>
                        <td><%= User.first_name %></td>
                        <td><%= User.last_name %></td>
                        <td><%= User.email %></td>
                        <td><label class="toggleSwitch nolabel" onclick="">
                          <input type="checkbox" <%= User.id_rol == 1 && 'checked' %>
                           onclick="changeRol(<%= User.id %>,<%= User.id_rol %>)"/>
                          <span>SI</span>
                              <a href=""></a> </label> </td>
                        
                        <td><a href="indexUser/<%- User.id %> "><button class="btn-table modi"></button></a>
                            <form action="/admin/list-user/<%- Users.id %>?_method=DELETE " method="post">
                                <button class="btn-table delete"><i class="far fa-trash-alt"></i></button></td>
                            </form>
                            
                    </tr>
                <% }); %>     
              </table>

        </div>
    </main>
    <script src="../js/menuAdmin.js"></script>
</body>
</html>
