<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <div class="rute">
                <a href="/home">Home</a>
                <span>/</span>
                <a href="/Mi cuenta">Mi cuenta</a>
                <span>/</span>
                <a href="/editProfile">Editar cuenta</a>
            </div>

            <h2>Editar Cuenta</h2>
            <div class="form-container">
                <form action="/users/edit/<%- user.id %>?_method=PUT" method="POST">
                    <div class="form">
                        <div class="input-container">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Nombre" value="<%- user.name %>"
                                required>
                        </div>
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com"
                                value="<%- user.email %>" required>
                            <span class="error-message">Ya existe una cuenta registrada con ese email</span>
                        </div>
                        <div class="input-container">
                            <label for="currentPass">Contrase単a actual</label>
                            <input type="password" id="currentPass" name="currentPass" value="<%- user.password %>"
                                placeholder="password" required>
                        </div>
                        <div class="input-container">
                            <label for="pass">Nueva Contrase単a</label>
                            <input type="password" id="pass" name="password" value="<%- user.password %>"
                                placeholder="password" required>
                        </div>
                        <div class="input-container">
                            <label for="pass">Confirmar nueva contrase単a</label>
                            <input type="password" id="pass" name="password2" value="<%- user.password %>"
                                placeholder="password" required>
                            <span class="error-message">Las contrase単as no coinciden</span>
                        </div>
                        <div class="button-submit">
                            <button type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>