<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Perfil de usuario</title>
    <script src="/js/profile.js" defer></script>
    <script src="/js/validationProfile.js" defer></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</head>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main class="profile">
        <!-- <div class="rute-container rute-profile">
            <div class="rute cate-product">
                <a href="/">Home</a>
                <span>/</span>
                <p>usuarios</p>
                <span>/</span>
                

            </div>
        </div>   -->
        <div>
            <form action="/users/new-password/<%= token %> " method="post">
                <div>
                    <label for="">Ingrese su Nueva contraseña</label>
                    <input type="password" name="password">
                    <% if (locals.errors && errors.email) { %>
                        <small class="error-message">
                            <%= errors.email.msg %>
                        </small>
                        <% } %>
                </div>
                <div>
                    <label for="">Repita la contraseña</label>
                    <input type="password" name="password2">
                    <% if (locals.errors && errors.email) { %>
                        <small class="error-message">
                            <%= errors.email.msg %>
                        </small>
                        <% } %>
                </div>
                <button type="submit">Cambiar</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    
    
</body>
</html>