<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Perfil de usuario</title>
    <script src="/js/profile.js" defer></script>
</head>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main class="profile">
        <div class="rute-container rute-profile">
            <div class="rute cate-product">
                <a href="/">Home</a>
                <span>/</span>
                <p>usuarios</p>
                <span>/</span>
                <a href="/users/profile/<%= user.id %> ">perfil</a>

            </div>
        </div>  
        <div class="body-profile">
            <section class="avatar-container">
                <div class="image-container">
                    <h3>Foto de perfil</h3>
                    <img src="/images/users/<%= user.avatar%>" alt="">
                </div>
                <div class="input-image">
                    <form class="form-updata-avatar" action="/users/update/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="add-file">
                            <label for="file" id="labelAvatar">Subir Foto</label>
                            <input type="file" id="file" name="avatar">
                        </div>
                        <button type="submit" class="btn-submit" id="submitFile">Guardar</button>
                    </form>
                </div>
                <div class="change-password-container">
                    <h5 id="btn-change-password"><i class="fa-solid fa-key"></i>Cambiar Contraseña</h5>
                    <div id="change-password" class="inputs-container-pass">
                        <form action="/users/update/<%= user.id %>?_method=PUT" method="post">
                            <div class="change-password">
                                <label for="password">Contraseña Actual:</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="change-password">
                                <label for="newPassword">Nueva Contraseña:</label>
                                <input type="password" id="newPassword" name="newPassword">
                            </div>
                            <div class="change-password">
                                <label for="confimPassword">Repetir Contraseña:</label>
                                <input type="password" id="confiPassword" name="pass2">
                            </div>
                            <button type="submit">Guardar contraseña</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="data-user">
                <form action="/users/update/<%= user.id %>?_method=PUT" method="post">
                    <div class="title-profile">
                        <h2>Mis datos</h2>
                        <h2 id="edit">editar</h2>
                        <button type="submit" class="btn-submit" id="buttonSubmit">Guardar</button>
                    </div>
                    <div class="data-container">
                    
                        <div class="input-contain">
                            <label for="inputName">Nombre:</label>
                            <input type="text" id="inputName" name="first_name" class="input-js" disabled value="<%= user.first_name %> ">
                        </div>
                        <div class="input-contain">
                            <label for="last_name">Apellido:</label>
                            <input type="text" id="last_name" name="last_name" class="input-js" disabled value="<%= user.last_name %>">
                        </div>
                        <div class="input-contain">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" class="input-js" disabled value="<%= user.email %>">
                        </div>
                        
                        <div class="input-contain">
                            <label for="address">Dirección:</label>
                            <input type="text" id="address" name="address" class="input-js" disabled value="<%= user.address %>">
                        </div>
                        <div class="input-contain">
                            <label for="phone">Telefono:</label>
                            <input type="number" id="phone" name="phone" class="input-js" disabled value="<%= user.phone %>">
                        </div>
                        <div class="input-contain">
                            <label for="cp">Codigo Postal:</label>
                            <input type="number" id="cp" name="cp" class="input-js" disabled value="<%= user.cp %>">
                        </div>
                        <div class="input-contain">
                            <label for="country">Pais:</label>
                            <input type="text" id="country" name="country" class="input-js" disabled value="<%= user.country %>">
                        </div>
                        <div class="input-contain">
                            <label for="province">Provincia:</label>
                            <input type="text" id="province" name="province" class="input-js" disabled value="<%= user.province %>">
                        </div>
                        <div class="input-contain">
                            <label for="date">fecha de nacimiento:</label>
                            <input type="date" id="date" name="date_birth" class="input-js" disabled value="<%= user.date_birth %>">
                        </div>
                        <div class="input-contain">
                            <label for="age">Edad:</label>
                            <input type="number" id="age" name="age" class="input-js" disabled value="<%= user.age %>">
                        </div>
                   
                    </div>
                </form>
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
