<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Perfil de usuario</title>
    <script src="/js/profile.js" defer></script>
    <script src="/js/validationProfile.js" defer></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</head>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main class="recover-password">
        <!-- <div class="rute-container rute-profile">
            <div class="rute cate-product">
                <a href="/">Home</a>
                <span>/</span>
                <p>usuarios</p>
                <span>/</span>
                

            </div>
        </div>   -->
        <div class="b-container">
            <h2>Recuperar contraseña</h2>
            <p>Debe ingresar un email y recibirá un email en su casilla de correo donde contendra un link.</p>
            <form class="form-recover" action="/users/recover-password" method="post">
                <div>
                    <label for="">Ingrese su email</label>
                    <input type="email" name="email">
                    <% if (locals.errors && errors.email) { %>
                        <small class="error-message">
                            <%= errors.email.msg %>
                        </small>
                        <% } %>
                </div>
                <button type="submit">Recuperar contraseña</button>
            </form>
        </div>
    </main>
    <%- include('../partials/script.ejs') %>
    <%- include('../partials/footer.ejs') %>
    
    
</body>
</html>
