<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Crear Cuenta</title>
</head>

<body class="register">

    <%- include('../partials/header.ejs') %>

        <main>
            <div class="rute">
                <a href="/home">Home</a>
                <span>/</span>
                <a href="/Mi cuenta">Mi cuenta</a>
                <span>/</span>
                <a href="/register">Crear cuenta</a>
            </div>

            <h2>Crear Cuenta</h2>
            <div class="form-container">
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="form">
                        <div class="input-container">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Nombre"
                                class="<%= (locals.errors && errors.name) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.name : "" %>">
                                <% if (locals.errors && errors.name) { %>
                                    <small class="error-message">
                                        <%= errors.name.msg %>
                                    </small>
                                    <% } %>
                        </div>
                        <div class="input-container">
                            <label for="lname">Apellido</label>
                            <input type="text" id="lname" name="last_name" placeholder="Apellido"
                                class="<%= (locals.errors && errors.last_name) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.last_name : "" %>">
                                <% if (locals.errors && errors.last_name) { %>
                                    <small class="error-message">
                                        <%= errors.last_name.msg %>
                                    </small>
                                    <% } %>
                        </div>
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com"
                                class="<%= (locals.errors && errors.email) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.email : "" %>">
                                <% if (locals.errors && errors.email) { %>
                                    <small class="error-message">
                                        <%= errors.email.msg %>
                                    </small>
                                    <% } %>
                        </div>
                        <div class="input-container">
                            <label for="avatar">Avatar</label>
                            <input type="file" id="avatar" name="avatar">
                        </div>

                        <div class="input-container">
                            <label for="password1">Contraseña</label>
                            <input type="password" id="password1" name="password1" placeholder="password"
                                class="<%= (locals.errors && errors.password1) ? " is-invalid" : "" %>">
                            <% if (locals.errors && errors.password1) { %>
                                <small class="error-message">
                                    <%= errors.password1.msg %>
                                </small>
                                <% } %>
                        </div>
                        <div class="input-container">
                            <label for="password2">Confirmar contraseña</label>
                            <input type="password" id="password2" name="password2" placeholder="password"
                                class="<%= (locals.errors && errors.password2) ? " is-invalid" : "" %>">
                            <% if (locals.errors && errors.password2) { %>
                                <small class="error-message">
                                    <%= errors.password2.msg %>
                                </small>
                                <% } %>
                        </div>

                        <div class="button-submit">
                            <button type="submit">Crear</button>
                        </div>

                        <div class="create-count">
                            <a href="/users/login">¿Ya tenés cuenta? Iniciá sesión</a>
                        </div>
                        <hr>

                    </div>
                </form>
                <div class="log-in-google">
                    <a href="#"><img src="/images/logo-google.png" alt="google"> Iniciar con Google</a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>