<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <%- include('../partials/head.ejs') %>
        <title>Crear Cuenta</title>
</head>

<body class="register">

    <%- include('../partials/header.ejs') %>

        <main class="register">
            <div class="rute">
                <a href="/home">Home</a>
                <span>/</span>
                <a href="/Mi cuenta">Mi cuenta</a>
                <span>/</span>
                <a href="/register">Crear cuenta</a>
            </div>

            <h2>Crear Cuenta</h2>
            <div class="form-container">
                <form action="/users/register" method="POST" enctype="multipart/form-data" class="formulario" id="formulario">
                    <div class="form">

                        <!-- //-- GRUPO NOMBRE--// -->
                        <div class="formulario_1_grupo" id="=grupo_1_nombre">
                            <div class="input-container">
                                 <label for="name" class="formulario_1_label">Nombre</label>
                                <input type="text" id="name" name="name" placeholder="Nombre123"
                                class="formulario_1_input <%= (locals.errors && errors.name) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.name : "" %>">
                                <% if (locals.errors && errors.name) { %>
                                        <small class="error-message">
                                        <%= errors.name.msg %>
                                         </small>
                                    <% } %>
                                    <i class="Formulario_1_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_1_input-error">El nombre debe contener de 4 a 16 digitos y solo puede contener numeros, letras, y guion bajo.</p>
                        </div>

                        <!-- //--GRUPO APELLIDO--// -->

                        <div class="formulario_1_grupo" id="grupo_1_nombre">
                            <div class="input-container">
                                <label for="lname" class="formulario_1_label">Apellido</label>
                                <input type="text" id="lname" name="last_name" placeholder="Apellido"
                                class="<%= (locals.errors && errors.last_name) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.last_name : "" %>">
                                <% if (locals.errors && errors.last_name) { %>
                                        <small class="error-message">
                                        <%= errors.last_name.msg %>
                                         </small>
                                    <% } %>
                                    <i class="Formulario_1_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_1_input-error">El Apellido debe contener de 4 a 16 digitos y solo puede contener letras</p>
                        </div>

                        <!-- //--GRUPO CORREO ELECTRONICO--// -->
                        <div class="input-container formulario_1_grupo" id="grupo_1_correo">
                            <label for="email" class="formulario_1_label">Email</label>
                            <input type="email" id="email" name="email" placeholder="aaaaaaaaa@example.com"
                                class="<%= (locals.errors && errors.email) ? " is-invalid" : "" %>"
                            value="<%= (locals.oldData) ? oldData.email : "" %>">
                                <% if (locals.errors && errors.email) { %>
                                    <small class="error-message">
                                        <%= errors.email.msg %>
                                    </small>
                                    <% } %>
                                    <i class="formulario_1_validacion-estado fas fa-times-circle"></i>
                                    <p class="formulario_1_input-error">El correo solo puede contener numeros, letras, puntos, guiones y guio bajo.</p>
                        </div>


                        <div class="input-container">
                            <label for="avatar">Avatar</label>
                            <input type="file" id="avatar" name="avatar">
                        </div>

                        <!-- //--GRUPO CONTRASEÑA 1--// -->

                        <div class="formulario_1_grupo" id="grupo_1_password">
                            <div class="input-container">
                                <label for="password1" class="formulario_1_label">Contraseña</label>
                                <input type="password" id="password1" name="password1" placeholder="password"
                                class="formulario_1_input <%= (locals.errors && errors.password1) ? " is-invalid" : "" %>">
                            <% if (locals.errors && errors.password1) { %>
                                    <small class="error-message">
                                    <%= errors.password1.msg %>
                                    </small>
                                <% } %>
                                <i class="formulario_1_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_1_input-error">La contraseña tiene que tener de 4 a 12 digitos.</p>
                        </div>    

                        <!-- //--GRUPO CONTRASEÑA 2--// -->

                        <div class="formulario_1_grupo" id="grupo_1_password2">
                            <div class="input-container">
                                <label for="password2" class="formulario_1_label">Confirmar contraseña</label>
                                <input type="password" id="password2" name="password2" placeholder="password"
                                class="<%= (locals.errors && errors.password2) ? " is-invalid" : "" %>">
                            <% if (locals.errors && errors.password2) { %>
                                    <small class="error-message">
                                    <%= errors.password2.msg %>
                                    </small>
                                <% } %>
                                <i class="formulario_1_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_1_input-error">Ambas contraseñas deben ser iguales</p>
                        </div>


                        <div class="button-submit">
                            <button type="submit">Crear</button>
                        </div>

                        <div class="create-count">
                            <a href="/users/login">¿Ya tenés cuenta? Iniciá sesión</a>
                        </div>
                        <hr>

                    </div>
                </form>
                <div class="log-in-google">
                    <a href="#"><img src="/images/logo-google.png" alt="google"> Iniciar con Google</a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>